<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.iris.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WechatCallbackApi</display-name>
    <servlet-name>WechatCallbackApi</servlet-name>
    <servlet-class>com.iris.WechatCallbackApi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WechatCallbackApi</servlet-name>
    <url-pattern>/WechatCallbackApi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoreServlet</display-name>
    <servlet-name>CoreServlet</servlet-name>
    <servlet-class>com.iris.CoreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoreServlet</servlet-name>
    <url-pattern>/CoreServlet</url-pattern>
  </servlet-mapping>
</web-app>